#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.band-name {
    font-size: xx-large;
}

.band-image {
    width: 50%;
    height: auto;
}

.description{
    align-content: center;
    margin: 2% 10%;
}

.date-time{
    font-weight: bold;
}

.location{
    font-size: larger;
    font-weight: lighter;
}