#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.band-name {
    font-size: xx-large;
}

.band-image {
    width: 50%;
    height: auto;
}

.description{
    align-content: center;
    margin: 2% 10%;
}

.date-time{
    font-weight: bold;
}

.location{
    font-size: larger;
    font-weight: lighter;
}

.like-button {
    background: transparent;
    background-size: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
}